
.topBar {
    overflow: hidden;
    background-color: darkred;
}
.topBar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topBar a:hover {
    background-color: #804e45;
}

.topBar a.active {
    background-color: #804e45;
    color: rgb(0, 0, 0);
  }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.mainText p {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
    color: blueviolet;
}